body {
    font-family: Arial, "Arial Black", sans-serif;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    background: url(bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    touch-action: manipulation;
}

html {
    height: 100%;
    min-width: 100%;
}

hr {
    width: 418px;
    color: white;
    border-color: white;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile {
    /* Box */
    border: 2px solid white;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 418px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid white;
    border-radius: 5px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.enter-key-tile {
    width: 74px;
    height: 40px;
    margin: 1px;
    border: 1px solid white;
    border-radius: 5px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-right: 50px;
    margin-left: 75px;
    display: inline-block;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-radius: 5px;
}

.ava {
    width: 25px;
    height: 25px;
    font-family:'Arial Black', sans-serif;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    align-items: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px solid white;
    border-radius:5px;
    padding:px;
    background-color: transparent;
    outline: 0 !important;
 }