body {
    font-family: Arial, "Arial Black", sans-serif;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    background: url(bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    touch-action: manipulation;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
    height: 100%;
    min-width: 100%;
}

hr {
    width: 418px;
    color: white;
    border-color: white;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile {
    /* Box */
    border: 2px solid white;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 5px;

    /* Text */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 418px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 2px solid white;
    border-radius: 5px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.enter-key-tile {
    width: 74px;
    height: 40px;
    margin: 1px;
    border: 2px solid white;
    border-radius: 5px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-family: Arial, "Arial Black", sans-serif;
    font-weight:bold;
    font-size: 36px;
    color: white;
    display: inline-block;
}

.pealkiri {
    font-family: Arial, "Arial Black", sans-serif;
    font-weight:bold;
    font-size: 36px;
    color: white;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-block;
}

.vastus {
    font-family: Arial, "Arial Black", sans-serif;
    font-weight:bold;
    font-size: 36px;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
}

.statistic-container {
    margin: 5px;
    display: inline-block;
}

.chart-tile {
    padding:px;
    text-align: right;
    display: inline-block;
    height: 24px;
    margin: 1px;
    border: 2px solid #212529;
    border-radius: 5px;
    color: white;
}

.chart {
    text-align: left;
}

.chart-p {
    display: inline-block;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-radius: 5px;
}

.ava {
    width: 35px;
    height: 35px;
    font-family:'Arial Black', sans-serif;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color: white;
    border: 2px solid white;
    border-radius:5px;
    padding: 0;
    background-color: transparent;
    outline: 0 !important;
    cursor: pointer;
 }

.ava2 {
    height: 60px;
    width: 60px;
    margin-bottom: 17.6px;
    font-family:'Arial Black', sans-serif;
    font-size: 30px;
    font-weight:bold;
    line-height:20px;
    color: white;
    border: 2px solid white;
    border-radius:5px;
    padding: 0;
    background-color: transparent;
    outline: 0 !important;
    cursor: pointer;
 }

.btn2 {
    color: black;
    padding: 1px;
    border: none;
    background-color: inherit;
    display: inline-block;
  }

.btn {
    background-color: darkgray;
    border: darkgray;
}

.form-inline {
    display: block;
    align-items: center;
}